*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
#root,
.App{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoWarper{
  z-index: 11;
}
/* #myVideo{
  position: absolute;
  width: calc(100vw/5);
  height: auto;
  bottom: 1em;
  right: 1em;
  border-radius: 0.5em;
  z-index: 1;
} */
#myVideo,
#AdminVideo{
  position: absolute;
  height: 80%;
  width: auto;
  border-radius: 0.5em;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  display: none;
}
.bottom_btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: none;
  border: none;
  border-radius: 50%;
  background-color: white;
}
.End_btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 1em;
  border-radius: 1.8em;
  border: none;
  background-color: red;
}
.activeBtn{
  background-color: rgb(255, 21, 21);
}
@media screen and (max-width: 780px) {
  #myVideo,
  #AdminVideo{
    width: 80%;
    height: auto;
  }
  /* #myVideo{
    width: calc(100vw/3);
  } */
}
